/*
hey man, don't look at another man's css ... we all do weird things to make it work
*/

/*others*/
body{
  background-color: rgba(33, 33, 33, 255);
  text-align: center;
}
ul {
  display: inline-block;
  text-align: left;
  list-style-position: inside;
}

::-webkit-scrollbar {width: .8rem;}
::-webkit-scrollbar-track {background: transparent;}
::-webkit-scrollbar-thumb {background: rgba(23, 23, 23, 255);}
::-webkit-scrollbar-thumb:hover {background: #555;}

#particles-js {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -10;
}

/*main page*/
.solarSystem{
  width: 98vw;
  height: 98vw;
  max-width: 60rem;
  max-height: 60rem;
  margin: 0 auto;
  position: relative;
}

/*main text*/
.titleText{
	font-family: 'Dancing Script', cursive;
  background-image: linear-gradient(135deg, #e66465, #9198e5);
  display: block;
  font-weight:bold;
  -webkit-text-fill-color: transparent;
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	padding: 1rem;
  text-shadow: 6px 6px 9px rgba(0, 0, 0, 0.25);
}
.topTitle{font-size: 18vw;}
.botTitle{font-size: 10vw;}
@media (min-width: 850px) {
  .topTitle{font-size: 10rem;}
  .botTitle{font-size: 5rem;}
}

/*orbit svgs*/
.orbitContainer{
  width: 100%;
  height: 100%;
  z-index: -10;
}
.orbits{
	stroke: grey;
  stroke-dasharray: .25,1;
  stroke-width: .02em;
  fill: none;
}

/*planets*/
.planets{
  border-radius: 50%;
  width: 10%;
  height: 10%;
  position: absolute;
  top: -5%;
  left: -5%;
  -moz-box-shadow:    0px 0px 9px rgba(0, 0, 0, 0.99);
  -webkit-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.99);
  box-shadow:         0px 0px 9px rgba(0, 0, 0, 0.99);
}
#star{background: linear-gradient(#d68b00, #fffc2e);}
#planet1{background: linear-gradient(#ab2eff, #ff00aa);}
#planet2{background: linear-gradient(#0084ff, #00ff55);}
#planet3{background: linear-gradient(#d30404, #ffbb00);}

.stars{
  background: linear-gradient(white, blue);
}

/*modals*/
.modal-dialog{
  color: whitesmoke;
  text-align: center;
  max-width: 80vw;
  margin: auto auto;
  pointer-events: all;
}
.modal-content {
  border-radius: 50%;
  width: 80vw;
  height: 80vw;
  max-width: 50rem;
  max-height: 50rem;
  text-align: center;
  margin: auto auto;
  position: absolute;
}
#planet1m .modal-content{background: linear-gradient(#5d198a, #8b015d) !important;}
#planet2m .modal-content{background: linear-gradient(#01498d, #018b2f) !important;}
#planet3m .modal-content{background: linear-gradient(#8f0101, #788d01) !important;}

.modal-body{  
  text-align: center;
  padding: 0rem;
  font-size: 14px;
  max-height: 98vh;
  /*min-width: 98vw;*/
  overflow-y: scroll;
}
.modal-text{
  text-align: left;
  
}

.modal::-webkit-scrollbar {width: 0}
.modal-text::-webkit-scrollbar {width: 0}
.modal-body::-webkit-scrollbar {width: 0}