body{
    background-color: rgba(33, 33, 33, 255);
    text-align: center;
}

/*main page*/
.solarSystem{
  width: 98vw;
  height: 98vw;
  max-width: 60rem;
  max-height: 60rem;
  margin: 0 auto;
  position: relative;
}

/*orbit svgs*/
.orbitContainer{
  width: 100%;
  height: 100%;
  z-index: -10;
}
.orbits{
	stroke: grey;
  stroke-dasharray: .25,1;
  stroke-width: .02em;
  fill: none;
}
/*
.shadow{
  stroke: black;
  stroke-width: 2px;
  filter: url('#dropshadow');
}
*/

/*planets*/
.planets{
  border-radius: 50%;
  width: 10%;
  height: 10%;
  position: absolute;
  top: -5%;
  left: -5%;
  -moz-box-shadow:    0px 0px 9px rgba(0, 0, 0, 0.99);
  -webkit-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.99);
  box-shadow:         0px 0px 9px rgba(0, 0, 0, 0.99);
}
#planet1{
  background: linear-gradient(#d68b00, #fffc2e);
}
#planet2{
  background: linear-gradient(#04db04, #0015ff);
}
#planet3{
  background: linear-gradient(#d30404, #ffbb00);
}

/*main text*/
.titleText{
	font-family: 'Dancing Script', cursive;
  background-image: linear-gradient(135deg, #e66465, #9198e5);
  display: block;
  font-weight:bold;
  -webkit-text-fill-color: transparent;
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	padding: 1rem;
  text-shadow: 6px 6px 9px rgba(0, 0, 0, 0.25);
}
.topTitle{
	font-size: 18vw;
}
.botTitle{
	font-size: 10vw;
}
@media (min-width: 850px) {
  .topTitle{font-size: 10rem;}
  .botTitle{font-size: 5rem;}
}

/*modals*/
.modal-dialog{
  color: whitesmoke;
  width: 85vw;
  height: 85vw;
  max-width: 60rem;
  max-height: 60rem;
  overflow-y: initial !important;
}
.modal-content {
  border-radius: 50%;
  width: 85vw;
  height: 85vw;
  max-width: 60rem;
  max-height: 60rem;
}
#planet1m .modal-content{
  background: linear-gradient(#d68b00, #fffc2e) !important;
}
#planet2m .modal-content{
  background: linear-gradient(#3cff00, #4400ff) !important;
}
#planet3m .modal-content{
  background: linear-gradient(#ff0000, #d9ff00) !important;
}
.modal-body{
  overflow-y: auto;
  transform:scaleY(1);
}
.modal-body img{
  transform: skewY(20deg);
  transform:scaleY(.05);
}
.modal-body::-webkit-scrollbar {width: 0}

/*others*/
::-webkit-scrollbar {width: .8rem;}
::-webkit-scrollbar-track {background: transparent;}
::-webkit-scrollbar-thumb {background: rgba(23, 23, 23, 255);}
::-webkit-scrollbar-thumb:hover {background: #555;}

#particles-js {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -10;
}